h1 {
    background-color: rgb(41, 41, 129);
    border-style:inset;
    color:blanchedalmond;
    border: 0px;
    margin: 0px;
    padding: 20px;
}

nav {
    background-color: rgb(247, 192, 192);
    font-size: 20px;
    border: 0px;
    margin: 0px;
    padding: 10px;
  
}

nav a {
    text-decoration: none;
}

a:hover {
    background-color: rgb(241, 241, 192);
    color:rgb(98, 173, 238);
    margin: 0px;
    padding: 10px;
}

body {
    background-color: rgb(141, 241, 241);
    border: 0px;
    margin: 0px;
    padding: 0px;
}

h2 {
    padding: 20px;
}
img {
    display: inline-block;
    padding: 20px;
}

p {
    padding: 20px;
}

footer {
  
    text-align: center;
}
